<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120725544840-45o8lofnj9ve0jhiv8uq8vbgpqvs356l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120725544840-45o8lofnj9ve0jhiv8uq8vbgpqvs356l</string>
	<key>API_KEY</key>
	<string>AIzaSyB4qRQnd40g6b4qL9Uhd7E8vzlAtNOgDyU</string>
	<key>GCM_SENDER_ID</key>
	<string>120725544840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efennecs.match</string>
	<key>PROJECT_ID</key>
	<string>match-app-efennecs</string>
	<key>STORAGE_BUCKET</key>
	<string>match-app-efennecs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120725544840:ios:d9ab8ada52135cb6c4e43d</string>
</dict>
</plist>